.wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
}
.container {
    width: var(--width-default);
    background-color: var(--grey-background);
    z-index: 100;
    display: flex;
    padding: 50px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
}
.div-image {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}
.image {
    object-fit: contain;
    width: 400px;
}
.sale {
    position: absolute;
    right: 0;
    top: 16px;
    transform: translateX(-100%);
    border: 2px solid var(--red-color);
    padding: 6px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
}
.div-logo {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 50px;
}
.close {
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.2);
        color: var(--red-color);
    }
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
}
.name {
    font-size: 24px;
    margin: 12px 0;
}
.description {
    margin: 0;
    line-height: 20px;
}
.stars {
    color: var(--yellow-color);
    font-size: 16px;
    margin-bottom: 8px;
}
.price {
    margin-bottom: 8px;
    del {
        font-size: 14px;
    }
    span {
        color: var(--yellow-color);
    }
}
.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.decrease, .count, .increase {
    font-size: 22px;
}
.count {
    margin: 0 8px;
    padding: 8px 16px;
    border: 3px solid transparent;
    &.quantity {
        border-color: var(--yellow-color);
    }
}
.increase, .decrease {
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
        color: var(--yellow-color);
        background-color: rgba(255, 255, 255, .3);
    }
}
.add-cart {
    display: flex;
    width: 60%;
    align-items: center;
    button {
        width: 100%;
        height: 40px;
        background-color: var(--red-color);
        color: var(--white-color);
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease;
        &:hover {
            opacity: .9;
        }
    }
}
.heart {
    font-size: 30px;
    margin-left: 12px;
    color: var(--red-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.share {
    font-size: 28px;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        color: var(--red-color);
    }
}