@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Pacifico&display=swap');
@import 'normalize.css';

:root {
    --white-color: rgb(238, 238, 238);
    --black-background-color: rgb(18, 18, 18);
    --header-background-color: rgba(18, 18, 18, .9);
    --red-color: rgb(255, 59, 92);
    --hover-background: rgba(221, 221, 221, .5);
    --yellow-color: #f88630;
    --grey-background: #1b1b1b;
    --text-grey-color: rgb(154, 154, 154);
    --width-default: 1200px;
    --hover-slider: rgba(248, 134, 48, .2);
}   

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--black-background-color);
    color: var(--white-color);
    overflow: hidden overlay;
    z-index: 0;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: var(--yellow-color); 
    border-radius: 50px;
    height: 100px;
}
ul .slick-active {
    background-color: var(--red-color);
    border-radius: 50px;
    box-shadow: 0 0 4px var(--red-color);
}
li.slick-active > div {
    background-color: transparent !important;
}
.slick-arrow {
    opacity: 0 !important;
}
a {
    text-decoration: none;
    color: var(--white-color);
}
button {
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}